

{% extends 'base.html' %}
{% load static %}
{% block head_title %}Contact{% endblock %}
{% block content %}
<header class="main_menu ">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="navbar-brand" href="{% url 'main:home' %}"> <img src="{%static 'img/logo1.png'%}" alt="logo" width="¨370px" height="53px"> </a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>


                  <div class="collapse navbar-collapse main-menu-item justify-content-center"
                      id="navbarSupportedContent">
                      <ul class="navbar-nav align-items-center">
                          <li class="nav-item active">
                              <a class="nav-link" href="{% url 'main:home' %}">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'main:about' %}">about</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="{% url 'main:blog' %}">Blog</a>
                         </li>


                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Services
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="{% url 'main:funactivities' %}">Fun activities</a>
                                 
                                  <a class="dropdown-item" href="{% url 'main:duasreminders' %}">Duas and Reminders </a>

                              <a class="dropdown-item" href="{% url 'main:doctors' %}">Meet doctors</a>

                                  <a class="dropdown-item" href="{% url 'main:share_stories' %}">Share your stories</a>

                             </div>
                          </li>



              
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'main:contact' %}">Contact</a>
                          </li>
                      </ul>
                  </div>

          {% if request.user.is_authenticated %}
          <a class="btn_2 d-none d-lg-block" href="{% url 'account_logout' %}">LogOut</a>
          {% else %}
          <a class="btn_2 d-none d-lg-block" href="{% url 'account_login' %}">Connect</a>
          {% endif %}
                 
              </nav>
          </div>
      </div>
  </div>
</header>


  <section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>contact</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-section section_padding">
    <div class="container">
      


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form"  method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="form-group">

                  <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'"
                    placeholder='Enter Message'></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your name'" placeholder='Enter your name'>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'" placeholder='Enter email address'>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Subject'" placeholder='Enter Subject'>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_1">Send Message</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Ecole Nationale Supérieure d'Informatique</h3>
              <p> Alger، Oued Smar 16309</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>+213 0778142390</h3>
              <p>Sun to Thur 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>mindset.dz20@gmail.com</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}
